{% extends "base.html" %}
{% block body %}
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="{% url 'exibir' perfil_logado.id %}">{{ perfil.nome }}</a>
            <strong>Todos os Perfis</strong>
        </div>
        {% if perfis %}
        <ul>
            {% for perfil in perfis %}
                <li>
                    <a href="{% url 'exibir' perfil.id %}">{{ perfil.nome }}</a>
                    / {{ perfil.email }}
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <p>Nenhum Perfil encontrado</p>
        {% endif %}
    </div>
    <div class="panel panel-default">
        {% with total_de_convites=perfil_logado.convites_recebidos.count %}
            {% if total_de_convites %}
                <div class="panel-heading">
                    <strong>Você tem {{ total_de_convites }}
                    convite{{ total_de_convites|pluralize }}
                    aguardando aprovação</strong>
                </div>
                <ul class="list-group">
                    {% for convite in perfil_logado.convites_recebidos.all %}
                        <li class="list-group-item">
                            {{convite.solicitante.nome}}
                            <a href="{% url 'recusar' convite.id %}" class="btn pull-right">recusar</a>
                            <a href="{% url 'aceitar' convite.id %}" class="btn pull-right">aceitar</a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <div class="panel-body">
                    <p>Nenhum convite recebido :(</p>
                </div>
            {% endif %}
        {% endwith %}
    </div>
    <div class="panel panel-default">
        {% with total_de_contatos=perfil_logado.contatos.count %}
            {% if total_de_contatos %}
                <div class="panel-heading">

                    <strong>Você tem {{total_de_contatos}}
                    contato{{ total_de_contatos|pluralize }}</strong>

                </div>
                <ul class="list-group">
                    {% for contato in perfil_logado.contatos.all %}
                        <a href="{% url 'exibir' contato.id %}"
                            class="list-group-item">{{ contato.nome }} // {{ contato.email }}</a>
                        <a href="{% url 'desfazer_amizade' contato.id %}">deletar</a>
                    {% endfor %}
                </ul>
            {% else %}
                <div class="panel-body">
                    <p>Você não possui contatos no momento :(</p>
                </div>
            {% endif %}
        {% endwith %}
    </div>
    <div class="panel panel-default">
            <form action="{% url 'add_post' %}" method="post">
                {% csrf_token %}
                <h2 >Faça uma postagem</h2>
                <label for="postagem">Digite aqui: </label>
                <input id="postagem" type="text" name="postagem">
                <hr />
                <button type="submit" value="Postar">Postar</button>
            </form>
    </div>
    <div>
        {% for post in perfil_logado.perfil_postagem.all %}

            {{post.perfil.nome}} // {{ post.postagem }} // {{post.data_postagem}}

        {% endfor %}
    </div>
</div>
{% endblock %}